######################
##     BACKEND      ##
######################
SPRING_PROFILES_ACTIVE=local

JWT_TOKEN=TOKEN
JWT_ISSUER=BBHMM
CORS_ACCEPTED_URL=http://localhost:5173

SPRING_DATASOURCE_URL=jdbc:mysql://db:3306/provider

DATABASE_USER=dev
DATABASE_PASSWORD=devSecret
DATABASE_PASSWORD_ROOT=root
DATABASE_DB=provider
DATABASE_HOST=db

S3_URL=http://storage:9000
S3_URL_PUBLIC=http://localhost:9000
STORAGE_HOST=storage
S3_BUCKET_NAME=perfil
S3_ACCESS_KEY=
S3_SECRET_KEY=

MAIL_HOST=mailhog
MAIL_HOST_PORT=1025
MAIL_SENDER=noreply@bbhmm.com
MAIL_FRONTEND_DOMAIN=http://localhost:5173

MAIL_AUTH_FLAG=false
MAIL_STARTTLS_FLAG=false

######################
##     FRONTEND     ##
######################

VITE_BACKEND_BASE_URL=http://localhost:5173