######################
##     BACKEND      ##
######################

JWT_TOKEN=
AUTH_ISSUER=

CORS_ACCEPTED_URL=http//localhost

SPRING_DATASOURCE_URL=
DATABASE_USER=
DATABASE_PASSWORD=
DATABASE_PASSWORD_ROOT=
DATABASE_DB=
DATABASE_HOST=db