######################
##     BACKEND      ##
######################
SPRING_PROFILES_ACTIVE=

JWT_TOKEN=
AUTH_ISSUER=

CORS_ACCEPTED_URL=http//localhost

SPRING_DATASOURCE_URL=

DATABASE_USER=
DATABASE_PASSWORD=
DATABASE_PASSWORD_ROOT=
DATABASE_DB=
DATABASE_HOST=db

MAIL_HOST=
MAIL_HOST_PORT=
MAIL_SENDER=
MAIL_FRONTEND_DOMAIN=


MAIL_AUTH_FLAG=
MAIL_STARTTLS_FLAG=

######################
##     FRONTEND     ##
######################

VITE_BACKEND_BASE_URL= 