@use "@styles/variables" as *;
@use "@styles/breakpoint" as *;
@use "@styles/animation" as *;

.body {
  padding: 24px;
  margin: 0 auto;
  background-color: $color-gray-000;
  display: flex;
  align-items: center;
  flex-direction: column;
}
