@use "@styles/variables" as *;
@use "@styles/breakpoint" as *;
@use "@styles/animation" as *;

.header {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding: 12px;
  max-width: $desktop_md;
  gap: 12px;
  background-color: $color-primary-2;
  box-sizing: border-box;

  h2 {
    font-size: 26px;
    font-weight: 700;
  }

  .selected {
    text-decoration: underline;
  }
}
